/* Pokemon color pallete */
:root {
  --logo-dark-blue: #3c5aa6;
  --logo-light-blue: #2a75bb;
  --logo-yellow-shadow: #c7a008;
  --logo-yellow-shadow-opacity: hsl(48deg 96% 41% / 10%);
  --logo-yellow: #ffcb05;
  --text-black: #222224;
  --disabled-color: #eee;
  --color-background: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--text-black);
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  transition:
    color 0.5s,
    background-color 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
