@import './base.css';

.main {
  flex: 1;
  width: 100%;
  max-width: 1280px;
  margin: 100px auto 50px;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  color: var(--logo-dark-blue);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--logo-dark-blue);
  font-size: 28px;
  font-weight: 600;
}

h3 {
  color: var(--logo-dark-blue);
  font-size: 24px;
  font-weight: 500;
}

h4 {
  color: var(--logo-dark-blue);
  font-size: 20px;
  font-weight: 500;
}

h5 {
  color: var(--logo-dark-blue);
  font-size: 18px;
  font-weight: 500;
}

p {
  color: var(--text-black);
  font-size: 16px;
}

a {
  padding: 3px;
  color: var(--logo-light-blue);
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: var(--logo-yellow-shadow);
  }
}
